/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background: #1c0f2bb9;
    color: white;
    transition: left 0.3s ease-in-out;
    padding-top: 90px;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  /* Sidebar Links */
  .sidebar p {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 30px;
    font-size: 18px;
    
  }
  
  .sidebar p:hover {
    background: #381f6170;
    cursor: pointer;

  }
  
  /* Hamburger Button */
  .hamburger {
    position: fixed;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
    z-index: 1000;
  }
  
  .hamburger:focus {
    outline: none;
  }
  