.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #1c0f2bb9;
    color: white;
    transition: left 0.3s ease-in-out;
    padding-top: 90px;
    z-index: 999;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .sidebar p {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 30px;
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0px;
    text-align: left; 
    font-style: italic;
    text-shadow: rgb(255, 255, 255) 1px 0 10px; 
  }
  
  .sidebar p:hover {
    background: #381f6197;
    cursor: pointer;
  }
  
  .hamburger {
    position: fixed;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
    z-index: 1000;
  }
  
  .hamburger:focus {
    outline: none;
  }
  
  @media (min-width: 1900px) {
    .sidebar p {
      font-size: 25px;
    }
  }