::ng-deep * {
  margin: 0;
  padding: 0;
  
}

.titre {
  text-align: center;
  color: white;
  padding-top: 100px;
  letter-spacing: .5rem;
  animation: fadeIn 2s ease-in-out forwards;
  opacity: 0;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background: url("/header.png");
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
}

h2 {
  color: white;
  text-align: right;
  padding-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  justify-content: right;

}

html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f0716;
}
/* General styling for each card */
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, width 1s, height 1s, z-index 0s;
  opacity: 1;
  background-image: url('/face-cachee.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hidden left */
.hideLeft {
  left: 28%;  /* Adjusted for proper position */
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
  width: 50px;
  height: 140px;
}

/* Slightly visible left */
.prevLeftSecond {
  z-index: 4;
  left: 33%;  /* Adjusted for better positioning */
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
  width: 100px;
  height: 150px;
}

/* Previous position */
.prev {
  z-index: 5;
  left: 40%;  /* Adjusted to start slightly to the left */
  transform: translateY(50px) translateX(-50%);
  width: 150px;
  height: 225px;
}

/* Selected (this one should start in the center) */
.selected {
  z-index: 10;
  left: 50%;  /* Centered */
  transform: translateY(0px) translateX(-50%);
  width: 200px;
  height: 300px;
}

/* Next position */
.next {
  z-index: 5;
  left: 60%;  /* Adjusted to start slightly to the right */
  transform: translateY(50px) translateX(-50%);
  width: 150px;
  height: 225px;
}

/* Slightly visible right */
.nextRightSecond {
  z-index: 4;
  left: 68%;  /* Adjusted for proper position */
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
  width: 100px;
  height: 150px;
}

/* Hidden right (now positioned closer to the center to make sure it's visible initially) */
.hideRight {
  left: 73%;  /* Positioned slightly off-screen but within visible range */
  opacity: 1;  /* Make sure it's visible */
  transform: translateY(50%) translateX(-50%);
  width: 50px;
  height: 140px;
}

.container{
  margin-top: 40px;
}

 footer {
  color:white;
}