<body>
    <header>
        <div class="header">
            <h1 class="titre">PROJET TAROT</h1>
        </div>
        </header>
        <main>
            <section>
                
                
<main>
    <div id="carousel">
    <div class="hideLeft">
        <img src="https://m.media-amazon.com/images/I/71PLYn2Za5L._SL1417_.jpg">
    </div>
    <div class="prevLeftSecond">
        <img src="https://m.media-amazon.com/images/I/71PLYn2Za5L._SL1417_.jpg">
    </div>
    <div class="prev">
        <img src="https://m.media-amazon.com/images/I/71PLYn2Za5L._SL1417_.jpg">
    </div>
    <div class="selected">
        <img src="https://m.media-amazon.com/images/I/71PLYn2Za5L._SL1417_.jpg">
    </div>
    <div class="next">
        <img src="https://m.media-amazon.com/images/I/71PLYn2Za5L._SL1417_.jpg">
    </div>
    <div class="nextRightSecond">
        <img src="https://m.media-amazon.com/images/I/71PLYn2Za5L._SL1417_.jpg">
    </div>
    <div class="hideRight">
        <img src="https://m.media-amazon.com/images/I/71PLYn2Za5L._SL1417_.jpg">
    </div>
    
    </div>
</main>
            </section>
            <footer>
                © Melissa Pegas
            </footer>
    </main>
</body>