::ng-deep * {
  margin: 0;
  padding: 0;
}

.titre {
  text-align: center;
  color: white;
  padding-top: 100px;
  letter-spacing: .5rem;
  animation: fadeIn 2s ease-in-out forwards;
  opacity: 0;
  font-family: 'Times New Roman', Times, serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background: url("/header.png");
  background-size: cover;
  height: 80vh;
}

html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

/* General styling for each card */
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, width 1s, height 1s, z-index 0s;
  opacity: 1;
  background-image: url('/face-cachee.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hidden left */
.hideLeft {
  left: 25%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
  width: 50px;
  height: 80px;
}

/* Slightly visible left */
.prevLeftSecond {
  z-index: 4;
  left: 25%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
  width: 100px;
  height: 150px;
}

/* Previous position */
.prev {
  z-index: 5;
  left: 35%;
  transform: translateY(50px) translateX(-50%);
  width: 150px;
  height: 225px;
}

/* Selected (largest one in the middle) */
.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
  width: 200px;
  height: 300px;
}

/* Next position */
.next {
  z-index: 5;
  left: 65%;
  transform: translateY(50px) translateX(-50%);
  width: 150px;
  height: 225px;
}

/* Slightly visible right */
.nextRightSecond {
  z-index: 4;
  left: 75%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
  width: 100px;
  height: 150px;
}

/* Hidden right */
.hideRight {
  left: 75%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
  width: 50px;
  height: 80px;
}
