<body>
    <header>
        <div class="header">
            <h1 class="titre">PROJET TAROT</h1>
        </div>
        </header>
        <main>
            <section>
                
                
<main>
    <div id="carousel">
    <div class="hideLeft"></div>
    <div class="prevLeftSecond"></div>
    <div class="selected"></div>
    <div class="prev"></div>
    <div class="next"></div>
    <div class="nextRightSecond"></div>
    <div class="hideRight"></div>
    </div>
</main>
            </section>
            <footer>
                © Melissa Pegas
            </footer>
    </main>
</body>