::ng-deep * {

    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color:white;
    padding-top: 100px;
    letter-spacing: .5rem;
    
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes fadeIn {
    0% {
      opacity: 0; /* Start as invisible */
    }
    100% {
      opacity: 1; /* End fully visible */
    }
  }

.header {
    background: url("/header.png");
    background-size: cover;
    height: 80vh;
}