<h2 class="histoire">L'histoire du tarot</h2>

<p>Le tarot est le nom de plusieurs jeux de cartes et de plusieurs ensembles de cartes à jouer, généralement au nombre de 78. Le premier jeu de tarot a été créé au XVe siècle en Europe. Les différents jeux de tarot permettent de jouer à de multiples jeux tels le tarocchini italien ou le tarot français. À partir de la fin du XVIIIe siècle, le tarot possède également un usage occulte et mystique.

    Les cartes de tarot sont un type de cartes à jouer apparu en Italie au XVe siècle. Les carte da trionfi ou naipe a trionfi sont mentionnées pour la première fois au milieu du XVe siècle en Italie du Nord. Le mot italien tarocchi et le mot français tarot sont mentionnés pour la première fois au début du XVIe siècle [1].
    
    Les plus anciennes cartes de tarot connues aujourd'hui ont été peintes pour la famille Visconti[2]. </p>
