@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.userInfo {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userLoggedOff{

    font-size: 30px;
    animation: fadeIn 2s ease-in-out forwards;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    height: 25vh;
}


h3 {
    color:white;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out forwards;
}

.tirageUser{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out forwards;
}

.background{
    background-color:#0b0313e1;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 5px 10px 10px rgba(9, 0, 11, 0.372);
}

button {
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
    color:white;
    background-color: #3f265ce0;
}

ul {
    list-style: none;
}

.container {
    height:  65vh; /* Or your desired height */
    width: 180vh;
    overflow-y: scroll;
    z-index: 1000;
    position: relative;
    list-style: none;
}

.container::-webkit-scrollbar {
    background-color: #170a25af;;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out forwards;
}

.container::-webkit-scrollbar-thumb {
    background-color: #4b2c6f;
    border-radius: 10px;
}
