<h2>Inscription</h2>
<div class ="inscription">
    <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label>Nom d'utilisateur:</label>
        <input type="text" formControlName="nom" required />
        <label>Email:</label>
        <input type="email" formControlName="email" required />
        <label>Mot de passe:</label>
        <input type="password" formControlName="password" required />
        <button type="submit" [disabled]="registerForm.invalid">Créer un compte</button>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
</div>