@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

h3{
    color:white;
    animation: fadeIn 2s ease-in-out forwards;
    
}

#tableau {
    display: flex;
    align-items: flex-start;  
    flex-direction: column;
    width: 100%;
    height: 75vh;            
    overflow-y: auto;         
    padding: 20px;            
    box-sizing: border-box; 
    animation: fadeIn 2s ease-in-out forwards;  
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h4{
    margin-bottom: 10px
}

#tableau table {
    width: auto;
    border-collapse: collapse;
    margin: 20px auto;       
}


#tableau td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    color: white;
    width:auto;
    
}


#tableau img {
    width: 150px;             
    height: auto;             
}


#tableau {
    max-width: 100%;
    overflow-x: auto;         
}
