h2, label{
    color: white;
    margin-bottom: 10px;
}

.container {
    background-color: #1c0f2be0;
    height: 40vh;
    border-radius: 25px;
    padding: 20px;
    z-index: 1000;
    position: absolute;
    box-shadow: 5px 10px 10px rgba(9, 0, 11, 0.372);
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
    background-color: #3f265ce0;
}

button {
    border-radius: 10px;
    padding: 10px;
    color:white;
    background-color: #3f265ce0;
}