@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#carousel {
  position: relative;
  width: 100%;
  height: 400px; /* Ensure enough space for the cards */
  display: flex;
  justify-content: center; /* Keeps the cards horizontally centered */
  align-items: flex-end; /* Aligns all cards at the bottom */
  animation: fadeIn 2s ease-in-out forwards;
}


/* General styling for each card */
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, width 1s, height 1s, z-index 0s;
  opacity: 1;
  background-image: url('/face-cachee.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0; /* Aligns all cards at the bottom of #carousel */
  margin-bottom: 40px; 
}

/* Adjust the positions as needed */
.hideLeft { 
  left: 24%; 
  opacity: 0;
  width: 50px;
  height: 90px; 
  z-index: 0;
}

.hideLeft:hover{
  cursor: pointer;
}

.prevLeftSecond {
  left: 27%; 
  z-index: 4; 
  opacity: 0.7; 
  width: 100px; 
  height: 170px; 
}

.prevLeftSecond:hover{
  cursor: pointer;
}

.prev { 
  left: 32%; 
  z-index: 5; 
  width: 150px; 
  height: 250px; 
}

.prev:hover{
  cursor: pointer;
}

.selected { 
  left: 50%; 
  z-index: 10; 
  width: 200px; 
  height: 300px; 
  transform: translateX(-50%); 
}

.selected:hover{
  cursor: pointer;
}

.next { 
  left: 55%; 
  z-index: 5; 
  width: 150px; 
  height: 250px; 
}

.next:hover{
  cursor: pointer;
}

.nextRightSecond { 
  left: 65%; 
  z-index: 4; 
  opacity: 0.7; 
  width: 100px; 
  height: 170px; 
}

.nextRightSecond:hover{
  cursor: pointer;
}

.hideRight { 
  left: 73%; 
  opacity: 0; 
  width: 50px; 
  height: 90px; 
  z-index: 0;
}

.hideRight:hover{
  cursor: pointer;
}

#tirage-info{
  color:aliceblue;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent dark background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    text-align: center;
    z-index: 1000; /* Ensures it's above other elements */
   
}

#tirage-info img {
  max-width: 100%;
  border-radius: 5px;
}

#carousel {
  position: relative; /* Ensures #tirage-info is positioned relative to it */
}

/* Show the overlay when tirageInfo exists */
.show-info {
  display: block 
}
@media (min-width: 1900px) {
  
    #carousel {
      margin-top:180px;
    }

    .hideLeft { 
      left: 14%; 
      opacity: 0;
      width: 90px;
      height: 175px; 
      z-index: 0;
    }

    .hideLeft:hover{
      cursor: pointer;
    }
    
    .prevLeftSecond {
      left: 20%; 
      z-index: 4; 
      opacity: 0.7; 
      width: 150px; 
      height: 270px; 
    }
    
    .prevLeftSecond:hover{
      cursor: pointer;
    }

    .prev { 
      left: 28%; 
      z-index: 5; 
      width: 200px; 
      height: 350px; 
    }

    .prev:hover{
      cursor: pointer;
    }
    
    .selected { 
      left: 50%; 
      z-index: 10; 
      width: 250px; 
      height: 400px; 
      transform: translateX(-50%); 
    }

    .selected:hover{
      cursor: pointer;
    }
    
    .next { 
      left: 54%; 
      z-index: 5; 
      width: 200px; 
      height: 350px; 
    }

    .next:hover{
      cursor: pointer;
    }
    
    .nextRightSecond { 
      left: 66%; 
      z-index: 4; 
      opacity: 0.7; 
      width: 150px; 
      height: 270px; 
    }

    .nextRightSecond:hover{
      cursor: pointer;
    }
    
    .hideRight { 
      left: 76%; 
      opacity: 0; 
      width: 90px; 
      height: 175px; 
      z-index: 0;
    }

    .nextRightSecond:hover{
      cursor: pointer;
    }
  }