<div id="carousel">
    <div class="hideLeft" (click)="postTirage()"></div>
    <div class="hideLeft" (click)="postTirage()"></div>
    <div class="hideLeft" (click)="postTirage()"></div>
    <div class="hideLeft" (click)="postTirage()"></div>
    <div class="hideLeft" (click)="postTirage()"></div>

    <div class="prevLeftSecond" (click)="postTirage()"></div>

    <div class="selected" (click)="postTirage()"></div>
    
    <div class="prev" (click)="postTirage()"></div>
    <div class="next" (click)="postTirage()"></div>

    <div class="nextRightSecond" (click)="postTirage()"></div>

    <div class="hideRight" (click)="postTirage()"></div>
    <div class="hideRight" (click)="postTirage()"></div>
    <div class="hideRight" (click)="postTirage()"></div>
    <div class="hideRight" (click)="postTirage()"></div>
</div>

<div id="tirage-info" *ngIf="tirageInfo.carte_nom || tirageInfo.carte_premium_nom">

    <div class="tirage-signification">
    <h2 *ngIf="tirageInfo.carte_nom">{{ tirageInfo.carte_nom }}</h2>
    <h2 *ngIf="tirageInfo.carte_premium_nom">{{ tirageInfo.carte_premium_nom }}</h2>
    <p>{{ tirageInfo.carte_signification }}</p>
    <p>{{ tirageInfo.carte_premium_signification }}</p>
    </div>

    <div class="tirage-image">
    <img [src]="tirageInfo.carte_image" alt="Carte Image" *ngIf="tirageInfo.carte_image">
    <img [src]="tirageInfo.carte_premium_image" alt="Carte Premium Image" *ngIf="tirageInfo.carte_premium_image">
    </div>

</div>

